@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

@import url('https://fonts.googleapis.com/css?family=Arsenal:400,700');

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


body {
   background-image: url(https://www.dropbox.com/s/vckv0jukihyazd9/lace%2C%20orig.png?raw=1);
		background-repeat: repeat;
	height: 1000px;
}
button { display:none;}


/*nav bar*/
ul.main {
    list-style-type: none;
		margin-top:0px;
    padding: 0px;
    overflow: hidden;
    background-color: ;
		position:fixed;
	top:0;
	right:0;
		
}

ul.main li {float: right;}

ul.main li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 70px 20px 70px;
    text-decoration: none;
}

ul.main li a:hover:not(.active) {background-color: #9c9c5a;}

ul.main li a.active {background-color: #9c9c5a;}



@media screen and (max-width: 600px){
     button {display:inline-block;} 
	img.logo {display:none;}
	ul.main {display:none;}
	p.about1 {text-align:left;
		margin-left:0%;
		width:100%;
		font-size:150%;}
	p.about2 {text-align:left;
		margin-left:0%;
		width:100%;
		font-size:150%;}
	p.started1 {text-align:left;
		margin-left:0%;
		width:100%;
		font-size:150%;}
	p.started2 {text-align:left;
		margin-left:0%;
		width:100%;
		font-size:150%;}
	p.closing  {text-align:left;
		margin-left:0%;
		width:100%;
		font-size:150%;}
	
	p.sig  {text-align:left;
		margin-left:0%;
		width:100%;
		font-size:150%;}
	
	p.name {text-align:left;
		margin-left:0%;
		width:100%;
		font-size:150%;
	}
}

/*end nav bar*/


.logo {
	width: 250px;
	height: 240px;
	position: fixed;
	margin-top: -75px;
	margin-left: 20px;
}

.items {
	margin: 200px 30px 200px 30px;
	text-align: center;
	position: relative;
}

.lacey { 
  background-image: url("https://www.dropbox.com/s/upqrvxd9qv9wkd4/lace%20taupe%20-%20Copy%20%282%29.jpg?raw=1");
		background-repeat: repeat-x;
}

.burlap {
	margin-top: 80px ;
	margin: auto;
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: repeat-y;
	
}
 
.titles {
	font-family: Alex Brush;
	text-align: center;
	margin-top: 6%;
	font-size: 400%;
}

.about1 {
	text-align: center;
	margin: 0px 250px 0px 250px;
	font-family: Arsenal;
	font-weight: bold;
	line-height: 23px;
	margin-bottom: 10px;
}

.about2 {
	text-align: center;
	margin: 0px 250px 0px 250px;
	font-family: Arsenal;
	font-weight: bold;
	line-height: 23px;
	margin-bottom: 10px;
}

.started1 {
	text-align: center;
	margin: 0px 250px 0px 250px;
	font-family: Arsenal;
	font-weight: bold;
	line-height: 23px;
	margin-bottom: 10px;
}

.started2 {
	text-align: center;
	margin: 0px 250px 0px 250px;
	font-family: Arsenal;
	font-weight: bold;
	line-height: 23px;
	margin-bottom: 10px;
}

.closing {
	text-align: center;
	margin: 0px 250px 0px 250px;
	font-family: Arsenal;
	font-weight: bold;
	line-height: 23px;
	margin-bottom: 15px;
	
}

.sig {
	text-align: left;
	margin: 0px 250px 0px 255px;
	font-family: Dancing Script;
	line-height: 23px;
	font-size: 25px
}

.name {
	text-align: left;
	margin: 0px 250px 0px 255px;
	font-family: Dancing Script;
	font-size: 35px;
	
}